{% extends 'twi/layout.html' %}

{% block body %}
{% if message %}
    {{ message }}
{% else %}

<h4>{{ profile_user }}</h4>

  <div id="follow-section">

   {% if user != profile_user and user.is_authenticated %}
      <form>
        {% csrf_token %}
        <button data="{{ profile_user.id }}" id="following">{{ is_follower }}</button>
     </form>
    {% endif %}


<p>Followers: {{ followers }}</p>
<p>Following: {{ number_of_following }}</p>
</div>

<h4>{{ profile_user }}'s Posts</h4>
<div class="posts">

    {% for p in page_obj %}
      <div class="single-post">

        <h5><a href="{% url 'profile_page' p.author %}">{{ p.author }}</a></h5>

        {% if p.author == request.user %}
              <form action="{% url 'edit_post' p.id %}" method="post" class="edit-post-field">
                {% csrf_token %}
                {{ edit_post_form }}
              </form>
              <button class="edit-post-button" value="{{ p.id }}">Edit</button>
             {% endif %}

          <div class="post-text">{{ p.text }}</div>
          <div class="post-message">{% if message %}
              {{ message }}
              {% endif %}
            </div>

             <p class="date">{{ p.date_posted }}</p>


              {% if p.id in likes %}
                <div class="likes" id="like{{ p.id }}" style="color:violet;"><form>{% csrf_token %}<img src="/static/twi/liked.png"> {{ p.upvotes }}</form></div>
              {% else %}
               <div class="likes" id="like{{ p.id }}"><form>{% csrf_token %}<img src="/static/twi/unliked.png"> {{ p.upvotes }}</form></div>
              {% endif %}

        </div>
    {% empty %}
    <p>No posts yet.</p>
    {% endfor %}

    </div>
{% endif %}

<!--PAGINATON only appears if posts don't fit on one page-->
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
      {% endif %}


      {% if page_obj.has_next %}
         <span class="current">
           Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
         </span>

          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>

{% endblock %}
